.flipper-widget-wrapper i {
    color: var(--page-font-color);
}

.flipper-widget-wrapper {
    background-color: var(--page-bg-color);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.flipper-widget-background {
    background-image: var(--page-bg-image);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    filter: blur(50px);
}

.flipper-widget-wrapper .flipper-summary-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 210px;
    margin-left: -210px;
    transition: margin-left .5s ease-in-out;
    z-index: 9999;
    background-color: var(--page-surface-accent-color);
}

.flipper-widget-wrapper .flipper-summary-wrapper.active {
    margin-left: 0;
}

.flipper-widget-wrapper .summary-toggler {
    position: absolute;
    background-color: var(--page-surface-color);
    right: -60px;
    top: 20px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 0;
    outline: none;
    cursor: pointer;
    border-radius: 30px;
}

.flipper-widget-wrapper .flipper-summary-wrapper.active .summary-toggler, .flipper-widget-wrapper .flipper-summary-wrapper.active .summary-toggler i {
    background-color: var(--page-surface-accent-color);
    color: var(--page-accent-color);
}

.flipper-widget-wrapper .summary-toggler:focus,
.flipper-widget-wrapper .summary-toggler:focus i {
    background-color: var(--page-surface-color);
    color: var(--page-font-color);
}

.flipper-widget-wrapper .summary-toggler:hover,
.flipper-widget-wrapper .summary-toggler:hover i {
    background-color: var(--page-surface-accent-color);
    color: var(--page-accent-color);
}

.flipper-widget-wrapper .summary-pages {
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    background: transparent;
    padding: 20px;
}

.flipper-widget-wrapper .summary-pages::-webkit-scrollbar-track
{
    -webkit-box-shadow: none;
    background-color: rgba(0,0,0, .2);
}

.flipper-widget-wrapper .summary-pages::-webkit-scrollbar
{
    width: 5px;
}

.flipper-widget-wrapper .summary-pages::-webkit-scrollbar-thumb
{
    background-color: var(--page-surface-color);
    border: none
}

.flipper-widget-wrapper .summary-pages .page {
    cursor: pointer;
    margin: 0 0 13px;
    background: transparent;
    position: relative;
}

.flipper-widget-wrapper .summary-pages .page img {
    width: 100%;
}

.flipper-widget-wrapper .flipper-controls {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.flipper-widget-wrapper .flipper-controls button {
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    background: var(--page-surface-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.flipper-widget-wrapper .flipper-controls .previous-page {
    margin-left: 20px;
}

.flipper-widget-wrapper .flipper-controls .next-page {
    margin-right: 20px;
}

.flipper-widget-wrapper .flipper-controls button:focus,
.flipper-widget-wrapper .flipper-controls button:focus i {
    background: var(--page-surface-color);
    color: var(--page-font-color);
}

.flipper-widget-wrapper .flipper-controls button:hover,
.flipper-widget-wrapper .flipper-controls button:hover i {
    background: var(--page-surface-accent-color);
    color: var(--page-accent-color);
}

.flipper-widget-wrapper .flipper-pages-wrapper {
    width: inherit;
    height: inherit;
}

.flipper-widget-wrapper .flipper-pages-wrapper .page.even .gradient {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    width: 5%;
    height: 100%;
    background: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(0,0,0,0)), color-stop(1, rgba(0,0,0,0.2)));
    background-image: linear-gradient(left, rgba(0,0,0,0) 95%, rgba(0,0,0,0.2) 100%);
}
    
.flipper-widget-wrapper .flipper-pages-wrapper .page.odd .gradient {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 5%;
    height: 100%;
    background: -webkit-gradient(linear, right top, left top, color-stop(0, rgba(0,0,0,0)), color-stop(1, rgba(0,0,0,0.15)));
    background-image: linear-gradient(right, rgba(0,0,0,0) 95%, rgba(0,0,0,0.15) 100%);
}

.flipper-widget-wrapper .flipper-pages-wrapper .page {
    user-select: none;
    position: absolute;
}

.flipper-widget-wrapper .flipper-pages-wrapper .page.loading {
    background-color: #fff;
}

.flipper-widget-wrapper .flipper-pages-wrapper .page img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.flipper-widget-wrapper .flipper-pages-wrapper .fa-spin {
    position: absolute;
    color: #bbb;
    top: 50%;
    left: 50%;
}

.flipper-widget-wrapper .flipper-pages-wrapper.zooming {
    cursor: grab;
}

.flipper-widget-wrapper .flipper-pages-wrapper.zooming:active {
    cursor: grabbing;
}

.flipper-widget-wrapper .flipper-pages {
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.flipper-widget-wrapper .hotspots-wrapper {
    position: absolute;
    width: inherit;
    height: inherit;
    top: 0;
    left: 0;
}

.flipper-widget-wrapper .hotspots-wrapper [class*="-hotspot"] {
    position: absolute;
}

.flipper-widget-wrapper .hotspots-wrapper [class*="-hotspot"]:hover {
    z-index: 999;
}

.flipper-widget-wrapper .hotspots-wrapper [class*="icon-"], .flipper-widget-wrapper .hotspots-wrapper [class*="-link-hotspot"] {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flipper-widget-wrapper .hotspots-wrapper .hotspot-popover {
    --bs-popover-bg: var(--page-surface-color);
    min-width: 400px;
    border-radius: 0;
    user-select: text;
}

.flipper-widget-wrapper .hotspots-wrapper .hotspot-popover::before {
    content: "";
    position: absolute;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    background: transparent;
    z-index: -1;
}

.flipper-widget-wrapper .hotspots-wrapper .hotspot-popover .popover-body {
    font-size: var(--font-size);
    font-family: var(--font-family);
    color: var(--page-font-color);
    font-weight: var(--font-weight);
    text-decoration: var(--text-decoration);
    text-align: var(--text-align);
}

.flipper-widget-wrapper .hotspots-wrapper .inline-video-hotspot video, .flipper-widget-wrapper .hotspots-wrapper [class*="-image-hotspot"] img {
    width: 100%;
    height: 100%;
}

.flipper-widget-wrapper [id*="modal-"] .modal-content {
    background-color: transparent;
    gap: 10px;
    align-items: end;
}

.flipper-widget-wrapper [id*="modal-"] .modal-content .modal-close {
    color: var(--page-font-color);
    border: none;
    width: 40px;
    height: 40px;
    background: none;
    padding: 0;
}

.flipper-widget-wrapper [id*="modal-"] .modal-content .modal-close:hover {
    background: none;
}

.flipper-widget-wrapper [id*="modal-"] .modal-body {
    padding: 0;
}

.flipper-widget-wrapper .hotspots-wrapper .icon-audio-hotspot {
    cursor: pointer;
}

.flipper-widget-wrapper .hotspots-wrapper .inline-audio-hotspot {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flipper-widget-wrapper .hotspots-wrapper .inline-audio-hotspot audio {
    width: 100%;
}