.flipper-builder-wrapper {
    background: #eee;
    height: 800px;
    padding: 20px;
    display: flex;
    gap: 40px;
}
  
.flipper-builder-wrapper .icon {
    width: 1rem;
}

.flipper-builder-wrapper button.drag-page {
    cursor: grab;
}

.flipper-builder-wrapper button:not(.drag-page) {
    cursor: pointer;
}

.flipper-builder-wrapper .flipper-sidebar {
    flex-basis: 20%;
    max-width: 20%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.flipper-builder-wrapper .section-title {
    position: sticky;
    top: 0;
    background: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
}

.flipper-builder-wrapper .sidebar-pages {
    max-height: 100%;
    overflow-y: auto;
}

.flipper-builder-wrapper .sidebar-actions button {
    border: none;
    display: flex;
    gap: 10px;
    outline: none;
    width: 100%;
    padding: 20px;
    background: #2271b1;
    fill: #fff;
    color: #fff;
    justify-content: center;
    align-items: center;
}

.flipper-builder-wrapper .sidebar-actions button:hover {
    background: #135e96;
}

.flipper-builder-wrapper .sidebar-actions button.disabled {
    background: #aaa;
    cursor: not-allowed;
    pointer-events: none;
}

.flipper-builder-wrapper .page-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.flipper-builder-wrapper .page-list li {
    padding: 10px;
    background: #fff;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-bottom: 0;
}

.flipper-builder-wrapper .page-list li.selected {
    color: #fff;
    fill: #fff;
    background: #2271b1; 
}

.flipper-builder-wrapper .page-list li span {
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
    overflow: hidden;
}

.flipper-builder-wrapper .page-list li button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    padding: 10px;
    background: transparent;
}

.flipper-builder-wrapper .flipper-page {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    max-width: 70%;
    max-height: 100%;
    overflow: auto;
    flex-grow: 1;
    padding: 20px;
    user-select: none;
}

.flipper-builder-wrapper .flipper-page img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.flipper-builder-wrapper .hotspots-wrapper {
    position: absolute;
}

.flipper-builder-wrapper .page-actions {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 20px;
    top: 20px;
    gap: 10px;
}

.flipper-builder-wrapper .page-actions button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 10px;
    border: none;
    outline: none;
    background: #2271b1;
    fill: #fff;
    color: #fff;
    position: relative;
}

.flipper-builder-wrapper .page-actions button:hover {
    background: #135e96;
}

.flipper-builder-wrapper .page-actions button:hover:after {
    position: absolute;
    content: attr(description);
    z-index: 1;
    right: 50px;
    bottom: 8px;
    background-color: rgba(0, 0, 0, .7);
    padding: 5px 10px;
    color: #fff;
    width: 100px;
    text-align: center;
}

.flipper-shortcode-wrapper .flipper-shortcode-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 13px;
}

.flipper-shortcode-wrapper .flipper-shortcode-actions button {
    margin-left: auto;
}

.flipper-shortcode-wrapper .flipper-shortcode-actions span {
    color: #00a32a;
}